*{
    margin: 0;
    padding: 0;
    font-family: "crossorigin", "Poppins";
}

body{
    background: url(./assets/bg.png);
    background-position: top;
    background-size: cover;
    color: #fff;
}

.container{
    /* flex: 1;
    display: flex;
    flex-direction: row; */
}
/* Navbar */
.navbar{
    flex: 1;
    display: flex;
    flex-direction: row;
    background-color: black;
    height: 80px;
}

nav div img{
    width: 200px;
}
.logo{
    width: 100px;
    margin: 20px 60px 5px 80px;
}
.line{
    border: 0.2px solid #fff;
    height: 45px;
    margin-top: 10px;
}
.list{
    display: flex;
    flex-direction: row;
    width: 600px;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 50px;
}

.list-item{
    list-style: none;
    cursor: pointer;
}

.button-small{
    margin-top: 25px;
    margin-left: 270px;
    background-color: #d711ff;
    color: rgb(233, 233, 233);
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #d711ff;
    font-weight: bold;
    cursor: pointer;
}

/* Cover */

.hero{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 140px;
    margin-left: 280px;
    width: 800px;
    text-align: center;

}

.hero-heading{
    font-size: 70px;
    line-height: 80px;
    letter-spacing: 2px;
    margin-bottom: 0px;    
}

.hero-description{
    font-size: 25px;
    line-height: 80px;
    letter-spacing: 2px;
    margin-bottom: 50px;
    margin-top: -20px;
}

.button-large{
    margin-top: 25px;
    margin-left: 270px;
    background-color: #d711ff;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 8px;
    border: 1px solid #d711ff;
    cursor: pointer;
    font-size: 25px;
    margin-left: -5px;
    margin-top: -20px;
    font: "Poppins";
    text-transform:inherit;
}